h2, p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

.typeInfo {
  height: 400px;
  padding: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeInfo input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: 2px solid transparent;
  outline: none;
  width: 50%;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 1.5rem;
  color: #658ec6;
}

.typeInfo input:focus {
  border: 2px solid #6ADCE2;
}

.typeInfo input:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: ease .5s;
}

.typeInfo button {
  outline: none;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 32px;
  padding: 7px 25px;
  border: 2px solid transparent;
  color: #658ec6;
  font-size: 24px;
  transition: ease-in .4s all;
}

.typeInfo button:hover {
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 50px;
  background: #6ed9df;
  color: #fff;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  padding-left: 85px;
}

.name {
  padding: 16px 0;
}